@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #f3f4f6;
  -webkit-tap-highlight-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; height: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: rgba(16, 185, 129, 0.4); border-radius: 4px; }